{% extends 'base.html.twig' %}

{% block title %}New Kilometrage{% endblock %}

{% block body %}
    <h1>Create new Kilometrage</h1>

    {{ include('kilometrage/_form.html.twig') }}

    <a href="{{ path('app_dashboard') }}">Back to dashboard</a>
{% endblock %}
